.container-fluid,
body,
html,
#map-holder {
    height: 100%;
    min-height: 100%;
}

#map {
    height: 100%;
    
}

#over-map {
    z-index: 1000;
    transition: none !important;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.btn-group-vertical > .btn:hover {
    z-index: 1000;
}

.btn {
    margin-bottom: 5px;
}

#video-card {
    display: none;
}
